/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




#container{
    position: absolute;
    margin:auto;
    width:540px;
    height:720px;
}

#background{
    position:absolute;
    width:540px;
    height:720px;
    left:100px;
    right: 100px;
    background-color: #ffffff;
    background-image: url("../img/resized_background.png");
    
    
    

    
}
#body{
    position:absolute;
    width:540px;
    height:720px;
    
    
    background-image: url("../img/body.png");
    
    
    
 
}

#sock{
     position:absolute;
    width:540px;
    height:720px;
    
    
    
    
}

.sock1{
     position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/socks01.png);
    
    
    
    
}

.sock2{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/none.png);
    
}

#blouse{
     position:absolute;
    width:540px;
    height:720px;
    
    
    
    
}

.blouse1{
     position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/blouse01.png);
    
    
    
    
}

.blouse2{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/blouse02.png);
    
}

.blouse3{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/blouse03.png);
    
}

.blouse4{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/blouse04.png);
    
}

.blouse5{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/blouse05.png);
    
}

.blouse6{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/none.png);
    
}



#pants{
     position:absolute;
    width:540px;
    height:720px;
    
    
    
    
}

.pants1{
     position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/pants01.png);
    
    
    
    
}

.pants2{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/pants02.png);
    
}

.pants3{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/pants03.png);
    
}

.pants4{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/pants04.png);
    
}

.pants5{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/none.png);
    
}





#shoes{
     position:absolute;
    width:540px;
    height:720px;
    
    
    
    
}

.shoes1{
     position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/shoes01.png);
    
    
    
    
}

.shoes2{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/shoes02.png);
    
}

.shoes3{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/shoes03.png);
}

.shoes4{
     position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/shoes04.png);
       
    
}

.shoes5{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/shoes05.png);
    
}

.shoes6{
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/none.png);
}


#hair{
     position:absolute;
    width:540px;
    height:720px;
        
    
    
}

.hair1{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/hair01.png);
}

.hair2{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/hair02.png);
}

.hair3{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/hair03.png);
}

.hair4{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/hair04.png);
}

.hair5{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/hair05.png);
}

.hair6{
    
    position:absolute;
    width:540px;
    height:720px;
    background-image: url(../img/none.png);
}



#nexthair{
    position:absolute;
    right:420px;
    top:124px;
}

#nextblouse{
    position:absolute;
    right:420px;
    top:229px;
}

#nextpants{
    position:absolute;
    right:420px;
    top:334px;
}

#nextsock{
    position:absolute;
    right:420px;
    top:439px;
}

#nextshoes{
    position:absolute;
    right:420px;
    top:544px;
}

#prevhair{
    position:absolute;
    right:420px;
    top:124px;
}

#prevblouse{
    position:absolute;
    right:420px;
    top:229px;
}

#prevpants{
    position:absolute;
    right:420px;
    top:334px;
}

#prevsock{
    position:absolute;
    right:420px;
    top:439px;
}

#prevshoes{
    position:absolute;
    right:420px;
    top:544px;
}

#titulo{
    position:absolute;
    right:300px;
    top:15px;
}